.span {
  color: rgb(124, 124, 61);
}
.section {
  margin-top: 13rem;
  padding-bottom: 8rem;
  padding-left: 1em;
  padding-right: 1em;
}

@media screen and (max-width: 780px) {
  .small {
    color: red;
  }
  .section {
    margin-top: 3rem;
    padding-bottom: 3rem;
  }
}
